* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*banner start*/
.banner-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.main-section {
    margin-top: 100px;
}

.banner-section {
    background: #E554731A;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 170px;
    padding-top: 50px;
    height: 100vh;
}

.content-area h1 {
    font-size: 56px;
    text-align: left;
}

.content-area p {
    padding: 32px 0px;
    text-align: left;
}

.banner-img img {
    max-height: 500px;
}

.btn-primary {
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
}

/*banner end*/

/* about section start */

.about-container {
    display: flex;
    height: 70vh;
    width: 80%;
    margin: auto;
    background-color: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: space-around;
}

.about-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px
}

.about-us {
    margin-bottom: 30px;
}

.about-color {
    color: #e76f51;
}

.about-video {
    width: 40%;
}

.about-text {
    width: 40%;
}

.about-title-text {
    font-size: 30px;
    margin-bottom: 20px
}

.about-description {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
}

/* about section start  */

/* fetured start */
.main-section {
    margin-top: 100px;
}

.fetured-flower {
    width: 85%;
    margin: auto;
}

.fetured-text h2 {
    text-align: center;
}

.fetured-text p {
    text-align: center;
    padding: 30px 0px;
}

.fetured-image {
    display: flex;
    justify-content: space-around;
}

.fetured-box {
    width: 350px;
}

.fetured-box a {
    text-align: center;
    display: block;
    color: #272727;
    margin-top: 32px;
    font-weight: 700;
}

.fetured-round-box {
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: rgba(167, 33, 98, 0.15);
    height: 370px;
}

.fetured-round-box img {
    width: 90%;
    height: 299px;
    margin-top: 70px;
}

/* fetured end */


/* our system  start*/
.our-system {
    margin: 100px 0px;
}

.system-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.system-box {
    padding: 40px;
}

/* our system  end*/

/* offer section start */
.offer-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-bottom: 80px;
    padding-top: 80px;
    margin-top: 80px;
}

.offer-section-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.offer-section-left {
    width: 50%;
}

.offer-section-left h2,
p {
    text-align: center;
    padding-bottom: 30px;
}

.offer-section-left button {
    display: block;
    margin: 0 auto;
}

.text-color {
    color: #E55473;
}

/* offer section end */


/* Instagram section styles */
.instagram-section {
    margin: 100px 0px;
}

.instagram-container {
    width: 80%;
    margin: 0 auto;
}

.insta-img-gallery {
    display: flex;
    justify-content: space-around;
}

.instra-section-title {
    text-align: center;
    padding-bottom: 15px;
}

.insta-img-gallery img {
    width: 25%;
    margin-left: 20px;
    transition: 0.5s;
}

/* instragrap section end */

/* Coupon offer section styles */
.coupon-offer-section {
    padding-bottom: 100px;
}

.coupon-container {
    width: 80%;
    margin: 0 auto;
    background: url('../images/Rectangle 9.png');
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 8px;

}

.coupon-container>h2 {
    text-align: center;
}

.coupon-container p {
    padding: 30px 0px 40px;
}

.coupon-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-container input {
    border: none;
    width: 600px;
    height: 64px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

/* coupon section end */

/* Footer section styles */
.footer-section {
    padding: 50px 0px;
    background: #111010;
    color: rgba(255, 255, 255, 0.90);
}

.footer-container>h2 {
    text-align: center;
}

.footer-container {
    width: 30%;
    margin: 0 auto;
}

.footer-container h2 {
    color: white;
    padding-bottom: 20px;
}

/* footer section end */